<launch>
	<node pkg="tf2_ros" type="static_transform_publisher" name="l1_broadcaster" args="0 0 0 0 0 0 1 world map" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="l2_broadcaster" args="0 0 0 0 0 0 1 map base_link" />
	<node pkg="rrt_planner" type="rrt_planner_tester" name="tester" output="screen" required="true">
		<param name="f" value="$(find rrt_planner)/exp/exp.rsc"/>
		<param name="odir" value="$(find rrt_planner)/exp"/>
		<!-- size (in m) of a grid cell -->
		<param name="res" value="0.1"/>
		<!-- these are for rrts_ros -->
		<param name="RRTPlanner/goal_bias" value="0.7172"/>
		<param name="RRTPlanner/publish_markers" value="true"/>
		<param name="RRTPlanner/max_iteration" value="5002"/>
		<param name="RRTPlanner/rrts_gamma" value="0.5"/>
		<param name="RRTPlanner/goal_size" value="0.2"/>
		<param name="RRTPlanner/verbose" value="true"/>
		<!-- these are for system_ros -->
		<param name="RRTPlanner/waypoint_distance" value="0.2"/>
		<param name="RRTPlanner/robot_radius" value="0.05"/>
		<param name="RRTPlanner/discretization_step" value="0.005"/>
	</node>
</launch>